.big-button {
    width: 100%;
    color: #4D861F;
    padding: 1rem 2rem;
    border-radius: 10rem;
    border: 1px solid;
    font-family: 'Open Sans', sans-serif;
}

.big-button--filled {
    background-color: #4D861F;
    color: white;
}