body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 2rem 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
}